.project-wrapper {
  position: relative;

  .cover {
    margin-top: -140px;
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 65px;

    &.avalog {
      background-image: url("../assets/jpg/projects/avalog/cover.jpg");
      background-size: cover;
    }

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      z-index: 2;
      color: var(--primary);

      img {
        margin-bottom: 16px;
      }
    }

    .subtitle,
    .photo-author {
      color: var(--primary);
      opacity: 0.8;
      font-size: 0.8rem;
    }

    .subtitle {
      position: absolute;
      bottom: 20px;
      left: 40px;
      z-index: 2;
    }

    .photo-author {
      position: absolute;
      bottom: 20px;
      right: 40px;
      z-index: 2;
    }
  }

  .summary-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .summary {
      display: flex;
      flex-direction: column;
    }

    img {
      margin-left: 60px;
      flex-shrink: 0;
    }
  }

  .body-wrapper {
    display: flex;
    flex-direction: column;

    > img {
      max-width: 100%;
      margin: 35px auto 70px;
    }
  }

  h4 {
    margin: 35px 0 35px;
  }

  p {
    margin-bottom: 35px;
    font-size: 1.25rem;
    line-height: 1.75;
  }

  ul {
    margin: 35px 0;
    display: flex;

    li {
      margin-right: 30px;
      font-size: 1.25rem;
      line-height: 1.5;
      display: flex;
      align-items: center;
    }

    svg {
      margin-right: 20px;
    }
  }

  .blockquote {
    padding: 15px 0 15px 35px;
    margin: 35px 0;
    border-left: 1px solid var(--secondary500);

    p {
      font-size: 1rem;
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
